<div class="fluid-container">
    <nav class="navbar navbar-expand-md " style="background-color: #064a74;">
        <a routerLink="/cards" class="navbar-brand">
            <!-- <img src="assets\logo.jpg" height="28" alt="COVID-19"> -->
            <h2 style="margin-left: 50px; "><strong>DealBaba.in</strong> </h2>
        </a>

        <button type="button" class="navbar-toggler navbar-light" data-toggle="collapse" data-target="#navbarCollapse"  aria-controls="main-nav" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" ></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a routerLink="/cards" class="nav-item nav-link active">Just In</a>
                <a routerLink="/amazon" class="nav-item nav-link">Amazon</a>
                <a routerLink="/flipkart" class="nav-item nav-link">Flipkart</a>
            </div>

            <div class="navbar-nav ml-auto mr-4" >
                <form class="example">
                    <input type="text" placeholder="Search.." [(ngModel)]=Keyword name="search2" required>
                    <button type="submit" (click)="SearchProduct()"><i class="fa fa-search"></i></button>
                </form>
                
                
            </div>
        </div>
    </nav>
</div>
