<div class="fluid-container">
    <div class="row bg-light">
        <div class="col-lg-12">
            <div class="row" style="margin-left: auto;">

                <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-2">
                    <app-card></app-card>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-2">
                    <app-card></app-card>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-2">
                    <app-card></app-card>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-2">
                    <app-card></app-card>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-2">
                    <app-card></app-card>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-2">
                    <app-card></app-card>
                </div>




            </div>
        </div>
    </div>
</div>