<div class="container-fluid">
    <h2>Admin Pannel</h2>
    <p>Here Admin can Add blog, Add Deals, Update Blog, Update Deals</p>
    <div class="row">
      <div class="col-3 bg-light">
          <ul class="a">
             <a routerLink="/addBlog" class="btn" > <li>Add Blog</li></a>
              <a routerLink="/addDeal"  class="btn"><li>Add Deals</li></a>
              <a routerLink="/updateBlog" class="btn"><li>Update Blog</li></a>
              <a routerLink="/updateDeal" class="btn"><li>Update Deals</li></a>
              <a routerLink="/byLink" class="btn"><li>Add Deals By Link</li></a>
              <a routerLink="/updateCaro"class="btn" ><li>Update Carousel</li></a>
              <a routerLink="/addCaro" class="btn"><li>Add Carousel Image</li></a>
          </ul>
      </div>
      <div class="col-9 ">
          <app-add-blog></app-add-blog>

      </div>
    </div>
  </div>


  