<div class="container-fluid">
    <h2>Admin Pannel</h2>
    <p>Here Admin can Add blog, Add Deals, Update Blog, Update Deals</p>
    <div class="row">
      <div class="col-3 bg-light">
          <ul class="a">
             <a (click)="viewPage('add_blog')" class="btn "> <li>Add Blog</li></a>
              <a (click)="viewPage('add_deal')" class="btn "><li>Add Deals</li></a>
              <a (click)="viewPage('Update_blog')"  class="btn "><li>Update Blog</li></a>
              <a (click)="viewPage('update_deal')" class="btn "><li>Update Deals</li></a>
              <a (click)="viewPage('add_deal_by_link')" class="btn "><li>Add Deals By Link</li></a>
              <a (click)="viewPage('update_caro')" class="btn "><li>Update Carousel</li></a>
              <a (click)="viewPage('add_caro')" class="btn "><li>Add Carousel Image</li></a>
          </ul>
      </div>
      <div class="col-9" *ngIf="view == 'add_blog'">
          <app-add-blog></app-add-blog>
      </div>
      <div class="col-9" *ngIf="view == 'add_deal'">
        <app-add-deal></app-add-deal>
      </div>
      <div class="col-9" *ngIf="view == 'Update_blog'">
        <app-update-blog></app-update-blog>
      </div>
      <div class="col-9" *ngIf="view == 'update_deal'">
        <app-update-deal></app-update-deal>
      </div>
      <div class="col-9" *ngIf="view == 'add_deal_by_link'">
        <app-add-deal-by-link></app-add-deal-by-link>
      </div>
      <div class="col-9" *ngIf="view == 'update_caro'">
        <app-update-caro></app-update-caro>
      </div>
      <div class="col-9" *ngIf="view == 'add_caro'">
        <app-add-caro></app-add-caro>
      </div>
    </div>
  </div>

