<div class="container-fluid">
    <h2>Admin Pannel</h2>
    <p>Here Admin can Add blog, Add Deals, Update Blog, Update Deals</p>
    <div class="row">
      <div class="col-3 bg-light">
          <ul class="a">
             <a (click)="viewPage('add_blog')"  class="btn"> <li>Add Blog</li></a>
              <a (click)="viewPage('add_deal')"  class="btn "><li>Add Deals</li></a>
              <a (click)="viewPage('update_blog')"  class="btn "><li>View Blog</li></a>
              <a (click)="viewPage('update_deal')"  class="btn "><li>View Deals</li></a>
              <a (click)="viewPage('add_deal_by_link')"  class="btn "><li>Add Deals By Link</li></a>
              <a (click)="viewPage('update_caro')"  class="btn "><li>Update Carousel</li></a>
              <a (click)="viewPage('add_caro')"  class="btn "><li>Add Carousel Image</li></a>
              <a (click)="Logout()"  class="btn "><li>Logout</li></a>
          </ul>
      </div>
      <div class="col-9" *ngIf="view == 'add_blog'">
          <app-add-blog [blog]=blog (page)="viewPage($event)"></app-add-blog>
      </div>
      <div class="col-9" *ngIf="view == 'add_deal'">
        <app-add-deal [product]=product (page)="viewPage($event)"></app-add-deal>
      </div> 
      <div class="col-9" *ngIf="view == 'update_blog'">
        <app-update-blog (blogPass)="blogPass($event)"></app-update-blog>
      </div>
      <div class="col-9" *ngIf="view == 'update_deal'">
        <app-update-deal (productPass)="productPass($event)"></app-update-deal>
      </div>
      <div class="col-9" *ngIf="view == 'add_deal_by_link'">
        <app-add-deal-by-link></app-add-deal-by-link>
      </div>
      <div class="col-9" *ngIf="view == 'update_caro'">
        <app-update-caro></app-update-caro>
      </div>
      <div class="col-9" *ngIf="view == 'add_caro'">
        <app-add-caro></app-add-caro>
      </div>
    </div>
  </div>


  <!-- <section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="row">
          <div class="col-md-3">
              <div class="dash-left">
                  <ul>
                      <li><a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a></li>
                      <li><a routerLink="/blogs" routerLinkActive="active">Blogs</a></li>
                      <li><a routerLink="/deal" routerLinkActive="active">Categories</a></li>
                      <li><a routerLink="/updateBlog" routerLinkActive="active">Pages</a></li>
                      <li><a [routerLink]="['/login']">Logout</a></li>
                  </ul>
              </div>   
          </div>
          <div class="col-md-9">
              <div class="dash-right">
                <router-outlet></router-outlet>
              </div>   
          </div>
        </div>
    </div>
  </section> -->