.img-responsive{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    float: left;
  }

  hr.popular {
    position: relative; 
    top: 10px; 
    border: none; 
    height: 2px; 
    background: black; 
   
}