<div class="container" *ngIf="Product">
    <div class="row">
        <div class="col-md-5 " align="center">
            <div class="row">
                <div class="col-md-12 MainImage-Container border border-right-0 border-top-0 border-danger p-4 ml-3"
                    id="MainImage-Container" align="center">
                    <img class="MainImage mt-4 mr-4" loading="eager"  style="height: 265px; width: 13rem;" 
                        alt={{Product.name}}
                        src={{Product.image}}                    
                            onerror="this.src='https://www.dealsmagnet.com/Assets/Product/placeholder.png'">
                </div>
                <div class="col-md-12">
                    <div class="row ">
                        <div class="col-sm-12" id="UnderImageUser">
                            <div class="float-right text-secondary mt-2">
                                {{Product.date}} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12"><br>
                    <h3 class="d-none">About Black &amp; Decker Appliances DCM25-IN 330-Watt 1-Cup Coffee Maker</h3>
                    <label class="ProductName mb-0 font-weight-bolder">{{Product.name}}</label>
                </div>

                <div class="col-md-12 mb-0 mt-0">
                    <hr class="mt-2 m-0">
                    <div class="row">
                        <div class="col-md-10">
                            <img class="mw-100" src="https://www.dealsmagnet.com/Assets/img/special/verified_deal.webp"
                                alt="">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <span class="DiscountedPrice">Price:</span> <span class="big font-weight-bolder"> ₹{{Product.offer_price}}</span>
                        <span class="OriginalPrice ml-4"><small>MRP: </small> <s> ₹{{Product.actual_price}}</s> </span>
                        <span class="Discount ml-4 big text-danger font-weight-bolder">{{Product | discountConverter}}% Off</span>
                    </div>

                    <div class="col-7 text-wrap mt-1 big" align="left">
                        <a href="{{Product | urlConverter}}" target="_blank" class="btn btn-primary btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-3 -4 24 24" class="Buy-Svg" height="16"
                                width="16" preserveAspectRatio="xMinYMin">
                                <path
                                    d="M7 16a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm7 0a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM.962 1.923A.962.962 0 0 1 .962 0h1.151c.902 0 1.682.626 1.878 1.506l1.253 5.642c.196.88.976 1.506 1.878 1.506h7.512l1.442-5.77H6.731a.962.962 0 0 1 0-1.922h9.345a1.923 1.923 0 0 1 1.866 2.39L16.5 9.12a1.923 1.923 0 0 1-1.866 1.457H7.122a3.846 3.846 0 0 1-3.755-3.012L2.113 1.923H.962z">
                                </path>
                            </svg>                            
                            Get Deal
                        </a>
                    </div>

                    <div class="col-4">
                        <span class="Publisher-label">Deal on
                            <a href="#">
                                <img alt="amazon" class="SellerImage mr-0 ml-2 mt-0 mb-0"
                                    src="{{Product | logoConverter}}">
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mw-100" id="BankOfferContainer">
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-12 mw-100 description-text" oncontextmenu="return false">
            <br>

            <p><strong>Product Details:</strong></p>
            <ul class="a-unordered-list a-vertical a-spacing-none" style="margin-bottom: 0px; margin-left: 18px;">
                <li style="list-style: disc; overflow-wrap: break-word;"><span class="a-list-item">1 cup capacity</span>
                </li>
                <li style="list-style: disc; overflow-wrap: break-word;"><span class="a-list-item">Covered
                        reservoir</span></li>
                <li style="list-style: disc; overflow-wrap: break-word;"><span class="a-list-item">Removable drip
                        tray</span></li>
                <li style="list-style: disc; overflow-wrap: break-word;"><span class="a-list-item">Indicor light</span>
                </li>
                <li style="list-style: disc; overflow-wrap: break-word;"><span class="a-list-item">Pull-out filter
                        holder-Makes cleaning easy ; Compact design-Convenient and space saving ; Permanent
                        filter-Durable and reusable</span></li>
                <li style="list-style: disc; overflow-wrap: break-word;"><span class="a-list-item">Permanent filter,
                        Single coffee cup and it is small in size</span></li>
                <li style="list-style: disc; overflow-wrap: break-word;"><span class="a-list-item">Warranty: 2 years on
                        product</span></li>
                <li style="list-style: disc; overflow-wrap: break-word;"><span class="a-list-item">Power: 330
                        watts; Operating voltage: 220-240 volts</span></li>
            </ul>
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-12 mw-100" oncontextmenu="return false">
            <br>

            <h3><u class="border-bottom border-dark">How to get this deal:-</u></h3>

            <ul>
                <li>Click On&nbsp;<span style="color: #ff0000;" id="InbuiltBuyNow">Get Deal </span> Button to go to offer page</li>
                <li>
                    <div> Check for latest price & stock availability.</div>
                </li>
                <li>
                    <div>Add to cart & select/update shipping info.</div>
                </li>
                <li>
                    <div>Make payment.</div>
                </li>
            </ul> <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">


        </div>
    </div>
    <div class="row" id="TrendingDealsDiv">
        <div class="col-12">
            <br>
            <br>
            <h4>Trending Deals</h4>
            <app-trending></app-trending>
        </div>
        <!-- <div class="container">
            <div class="row">
                <div class="col-12">
                    <br><br>
                    <h5 class="text-center">Other deals you might like</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"> Deal Title</th>
                                <th scope="col"> Offer Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="p-1"> 1</th>
                                <td class="p-1"> <a class="text-dark"
                                        href="https://www.dealsmagnet.com/deal/Intex-Explorer-Pro-200-Boat-Set-Multicolor-14qSkcwu">Intex
                                        Explorer Pro 200 Boat Set, Multicolor</a></td>
                                <td class="p-1"> at ₹2300 (62% Off)</td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-1"> 2</th>
                                <td class="p-1"> <a class="text-dark"
                                        href="https://www.dealsmagnet.com/deal/Huggies-Wonder-Pants-Large-Size-Diaper-Pants-20-C-14LTsf4J">Huggies
                                        Wonder Pants Large Size Diaper Pants (20 Count)</a></td>
                                <td class="p-1"> at ₹210 (40% Off)</td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-1"> 3</th>
                                <td class="p-1"> <a class="text-dark"
                                        href="https://www.dealsmagnet.com/deal/MuscleBlaze-Super-Gainer-XXL-Weight-Mass-Gainers-14i9NmoM">MuscleBlaze
                                        Mass Gainer XXL (Chocolate, 1 Kg / 2.2 lb)</a></td>
                                <td class="p-1"> at ₹874 (30% Off)</td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-1"> 4</th>
                                <td class="p-1"> <a class="text-dark"
                                        href="https://www.dealsmagnet.com/deal/Seagate-Expansion-Portable-15-TB-External-Drive-13ApOmX5">Seagate
                                        Expansion Portable 1.5 TB External Hard Drive HDD – USB 3.0 for PC Laptop and
                                        Mac (STEA1500400)</a></td>
                                <td class="p-1"> at ₹4399 (25% Off)</td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-1"> 5</th>
                                <td class="p-1"> <a class="text-dark"
                                        href="https://www.dealsmagnet.com/deal/Blaupunkt-BE50-Bluetooth-Earphone-13ENm2mU">Blaupunkt
                                        BE50 Bluetooth Earphone</a></td>
                                <td class="p-1"> at ₹1399 (53% Off)</td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-1"> 6</th>
                                <td class="p-1"> <a class="text-dark"
                                        href="https://www.dealsmagnet.com/deal/Red-Tape-Mens-Shoes-at-70-Off-13zVlkXu">Red
                                        Tape Men's Shoes Minimum 70% Off</a></td>
                                <td class="p-1"></td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-1"> 7</th>
                                <td class="p-1"> <a class="text-dark"
                                        href="https://www.dealsmagnet.com/deal/Cenizas-Coconut-Avocado-Oil-Hair-Conditioner-30-13E60hVr">Cenizas
                                        Coconut &amp; Avocado Oil Hair Conditioner, 300 ml</a></td>
                                <td class="p-1"> at ₹199 (50% Off)</td>
                            </tr>
                        </tbody>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="col-12 text-left">
                    <p></p>
                </div>
            </div>
        </div> -->
    </div>