            <div class="single-blog bg-white">
                <div class="card">
                    <img class="card-img-top" src={{blog.img}} alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">{{blog.heading}}</h4>
                        <p class="card-text">{{blog.heading}}
                        </p>
                        <a routerLink="/blogview" class="btn btn-primary">Read More →</a>
                        <div class="">
                           <span>{{blog.date}}</span>
                        </div>
                    </div>

                </div>
            </div>
       